<h1> CRYPTO CURRENCY </h1>
<img src="https://t3.ftcdn.net/jpg/01/84/79/98/360_F_184799894_zIp5HDYfDsiBdBlDnRxo2KgIkgDwYd2N.webp" class="img-fluid" style:width 100px alt="responsive image">
<br/><br/>
<p>
This apps provide live feeds and pricing updates from cryptocurrency exchanges.

Think of a cryptocurrency portfolio as a business’s profit and loss statement. Cryptocurrency investors can use their portfolios to take stock of their assets, ensuring they grow over time. As such, a cryptocurrency portfolio enables investors to keep an eye out on their inventory, so to speak, so nothing gets wasted. If an investment is causing a significant loss, the constant monitoring would warn the investor about it. If, on the other hand, a coin is making tons of money, the investor can invest more in it.</p>